{%- for interface in interfaces %}
{% if 'g2/0' != interface.name and 'g3/0' != interface.name  %}
interface {{ interface.name }}
    vrrp {{ interface.vrrp.id}} ip {{interface.vrrp.vip}}
    vrrp {{ interface.vrrp.id}} priority {{interface.vrrp.priority}}
    {%- if 'master' == interface.vrrp.role %}
    vrrp {{interface.vrrp.id}} preempt
    exit
    {%- endif -%}
{% endif %}
{%- endfor %}
