{% for ospf in ospf_conf %}
router ospf {{ospf.process_id}}
router-id {{ospf.router_id}}
{% for network in ospf.networks %}
network {{network.ip}} {{network.mask}} area {{network.zone}}
{%endfor%}
{% endfor %}