[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
nornir = "*"
nornir-utils = "*"
nornir-napalm = "*"
nornir-netmiko = "*"

[dev-packages]

[requires]
python_version = "3.9"
